header {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 4vw;
  font-weight: bolder;
  opacity: 0.9;
  display: block;
  margin: 0.8vw auto;
  color: rgba(0, 0, 0, 0.377);

}
.row.weekdays {
  margin: 0px 0;
  border-radius: 3px;
}
body {
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
}

.container {
  z-index: -4;
  font-family: "Poppins", sans-serif;
  margin: 0 200px auto;
  display: block;
  text-align: center;
  background-size: cover;
}
style {
  background-size: cover;
}
.container-fluid {
  display: block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  color: #6a512b;
  font-size: 10px;
  z-index: 5;
  max-width: 24%;
  position: absolute;
  top: 4vw;
  left: 38%;
}

.card {
  font-size: 0.9vw;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 1.7vw;
  
  transition: all 200ms ease-in-out;
  z-index: 10;
  background: white;
  border-radius: 3px;
}
.card-body {
  background: white;
  border-radius: 3px;
}
.card:hover {
  border: #6655;
}
.card-img-top {
  width: 80%;
  height: 3vw;
  object-fit: contain;
  background: white;
}
img {
  display: block;
  margin: 0 auto;
  padding: 0;
}

form {
  top: 10.6vw;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  z-index: 99;
}
input {
  border-radius: 8px;
  border-color: #f8f2da57;
  font-family: "Poppins", sans-serif;
  border: 2px inset #f8f2da;
  background: white;
  opacity: 0.4;
  max-width: 10vw;

  z-index: 99;
}
br {
  line-height: 1vw;
}
#magnifying-glass {
  opacity: 0.7;
  border-radius: 33px;
  border: 0.5px inset #f8f2da;
  padding: 1px 1.7px;
}



.fahrenheit {
  font-size: 1.5vw;
  color: white;
  opacity: 0.7;
  text-decoration: none;
  display: inline;
  text-shadow: -1px 0 rgb(143, 139, 139, 0.2), 0 1px rgb(143, 139, 139, 0.2), 0 -1px rgb(143, 139, 139,0.2);
}
.celsius {
  text-decoration: none;
  color: white;
  display: inline;
  text-shadow: -1px 0 rgb(87, 86, 86,0.2), 0 1px rgb(87, 86, 86,0.2), 1px 0 rgb(87, 86, 86,0.2), 0 -1px rgb(87, 86, 86,0.2);
}
.data {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
  color: white;
  
  text-align: left;
  padding-top: 1vw;
  
  border-radius: 2%;
  border-bottom: 1vw solid rgb(155, 153, 153,0.05)
}
.temperature {
  font-size: 6.5vw;
  line-height: 90%;
  text-shadow: -1px 0 rgb(143, 139, 139,0.4), 0 1px rgb(143, 139, 139,0.4), 0 -1px rgb(143, 139, 139,0.4);
}
.degrees {
  font-size: 1.5vw;
  position: relative;
  
}
.fahrenheit:hover {
  color: yellow;
  opacity: 0.9;
}
.fahrenheit:active {
  color: yellow;
}
.celsius:hover {
  color: yellow;
  opacity: 0.9;
}
.celsius:active {
  color: yellow;
}
.city-and-country {
  font-size: 2vw;
  text-shadow: -1px 0 rgb(87, 86, 86, 0.2), 0 1px rgb(87, 86, 86, 0.2), 1px 0 rgb(87, 86, 86, 0.2), 0 -1px rgb(87, 86, 86, 0.2);
}
.date-today {
  font-size: 1.3vw;
  text-shadow: -1px 0 rgb(87, 86, 86, 0.2), 0 1px rgb(87, 86, 86, 0.2), 1px 0 rgb(87, 86, 86, 0.2), 0 -1px rgb(87, 86, 86, 0.2);
}

.weather-condition {
  font-size: 1.3vw;
  text-shadow: -1px 0 rgb(87, 86, 86, 0.2), 0 1px rgb(87, 86, 86, 0.2), 1px 0 rgb(87, 86, 86, 0.2), 0 -1px rgb(87, 86, 86, 0.2);
}

.search {
  border: 1px solid white;
  border-radius: 20px;
  background: #6a512b;
  color: white;
  z-index: 10;
}
.spacer {
  color: white;
  opacity: 0.01;
  font-size: 5.5vw;
}

.coded-by {
  font-size: 1vw;
}

.compass {
  display: inline;
  margin: 0 auto;

  z-index: 99;
  max-width: 2vw;
}
.compass:hover {
  cursor: pointer;
}

.backgrounds {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  font-size: 0.8vw;
  

  
  z-index: 8;
  object-fit: contain;
  opacity: none;
}
button {
  z-index: 99;
object-fit: contain;
  margin: 0px auto;
  background: none;
  border: none;
  color: #533828;
  font-weight: bold;
  border-radius: 20vw;
  text-decoration: underline;
  background-color:rgb(155, 153, 153, 0.2);
  
  padding-left: none;
  padding-right: none;
}
.weather-app {
  
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 3%;
  z-index: -99;
  background-repeat:inherit;
}
.no-art {
  text-decoration: none;
  background-color:none;
}
